<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teleport Down
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Blink And You'll Miss It</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    The apprentice teleports, though apears in a tree and tumbles down to the ground. Bruised, but alive.

    <br><br>
    When he looks around, he comes to the realization there's a bear.
  </ion-card-content>
  </ion-card>

  <ion-button href="tabs/tab6">Fight The Bear</ion-button>
  <ion-button href="tabs/tab7">Talk To The Bear</ion-button>
</ion-content>
