<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Teleport Down
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teleport</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="cards">
    <ion-card-header>
      <ion-card-title>Blink And You'll Miss It</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Seanerry hesitates and then teleports. He appears in a tree and tumbles down to the ground. Bruised, but alive.</p>
      <p>"I can never get a hang of that teleportation spell," Seanerry grumbles, "But I'm fine at least, don't worry pal."</p>

      <br><br>
      <p>He looks around, and then he sees the big brown grizzly bear appear from the bush and approach him. "B-b-b-bear!" Seanerry exclaims, "What do I do now?"</p>
    </ion-card-content>
  </ion-card>
  <div class="center">
    <ion-button href="tabs/tab6">Fight The Bear</ion-button>
    <ion-button href="tabs/tab7">Talk To The Bear</ion-button>
  </div>
</ion-content>
