.cards{
    text-align: center;
    background: rgba(255,255,255,0.7);
    color: black;
}
.buttons{
    margin: auto;
    width: 20%;
    padding: 10px;
}
.title
{
    text-align: center;
}
.center{
    text-align: center;
}
ion-content {
    --background: none;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn6.dissolve.com%2Fp%2FD869_9_840%2FD869_9_840_1200.jpg&f=1&nofb=1");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
