/*Base Website Styling*/

* {
  box-sizing: border-box;
}
body {
    margin:0;
    background-image: url('images/mountains\ 3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p{
  font-size: 18px;
}

h1 {
  text-align: center;
  color: white;
  background-color: rgb(48, 46, 117);
}

ul#menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 15%;
        background-color:rgb(48, 46, 117);
        height: 100%; /* Full height */
        position: fixed; /* Make it stick, even on scroll */
        top: 0px;
        bottom: 0px;
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
      }
ul#menu li a{
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    }
  
  /* Change the link color on hover */
ul#menu li a:hover{
    background-color: #555;
    color: white;
  }

div {
    margin-left: 18%;
  }

iframe{
  margin-left: 18%;
}

.circleMove{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes move {
  0%   {background-color:red; left:0px; top:0px; animation-timing-function: ease-in;}
  30%  {background-color:red; left:0px; top:200px; height: 100px}
  50%  {background-color:red; left:0px; top:300px; height: 50px}
  75%  {background-color:red; height: 100px}
  100% {background-color:red; left:0px; top:0px; height: 100px;}
}

.circleSize{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  animation-name: size;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-left: 30%;
}

@keyframes size {
  0%   {background-color:purple; width:100px; height:100px;}
  75%  {background-color:purple; width:200px; height:200px;}
  100% {background-color:purple; width:100px; height:100px;}
}

.css-selector {
  background: linear-gradient(230deg, #88e18f, #e3793d, #9130f3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}


.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  
  .arrow-up {      
      /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    animation-name: triangleColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; 
    border-bottom: 40px solid black;
    
  }
  @keyframes triangleColorPalette {
    0% {
      border-bottom-color: #ee6055;
    }
    25% {
      border-bottom-color: #60d394;
    }
    50% {
      border-bottom-color: #aaf683;
    }
    75% {
      border-bottom-color: #ffd97d;
    }
    100% {
      border-bottom-color: #ff9b85;
    }
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid green;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid blue; 
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Ian Style*/
body.rimworldBackground{
  background-image: url('https://wallpapercave.com/wp/wp3935722.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

/*Amy Style*/
body.cyberBackground{
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/957482109078780053/809663528394ED5CF7649BD2655994072CD54E5B/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

/*Spencer Style*/