/*Base Website Styling*/

/*Using a separate .css file called style.css instead of inline styling or the style tag, have 
each group member change five to ten different style properties throughout all your webpages using 
CSS selectors (like h1, li, a, etc) for at least 5 different kinds of html tags that occur in 
throughout your team website (set this up so that every html page links to the same style.css page, 
don’t use inline styling or the <style> tag anywhere but in the style.html you did in the previous step).  
Document these contributions in your WDD.*/

@keyframes triangularMove {
  0%   {border-left-color:red; left:0px; top:0px;}
  25%  {border-left-color:yellow; left:200px; top:0px;}
  50%  {border-left-color:blue; left:200px; top:200px;}
  75%  {border-left-color:green; left:0px; top:200px;}
  100% {border-left-color:red; left:0px; top:0px;}
}
/*Spencer's style changes to entire website, add changes to attributes or start a new one*/
a{
  color:deeppink;

}
a:hover{
  background-color:blue;
  color:white;
}
p{
  text-align: center;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p.nested{
  text-align: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



img.titleImage{
  width: 500px;
  height: auto;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
body {
    margin:0;
    background-image: url('images/mountains\ 3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1#header {
  text-align: center;
  color: white;
  background-color: rgb(48, 46, 117);
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color:rgb(48, 46, 117);
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  top: 0px;
  bottom: 0px;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
ul#menu li a{
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    }
  
  /* Change the link color on hover */
ul#menu li a:hover{
    background-color: #555;
    color: white;
  }
/*class Amy did*/
div.content {
    margin-left: 18%;
  }

iframe{
  margin-left: 18%;
}

.circleMove{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes move {
  0%   {background-color:red; left:0px; top:0px; animation-timing-function: ease-in;}
  30%  {background-color:red; left:0px; top:200px; height: 100px}
  50%  {background-color:red; left:0px; top:300px; height: 50px}
  75%  {background-color:red; height: 100px}
  100% {background-color:red; left:0px; top:0px; height: 100px;}
}

.circleSize{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  animation-name: size;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-left: 30%;
}

@keyframes size {
  0%   {background-color:purple; width:100px; height:100px;}
  75%  {background-color:purple; width:200px; height:200px;}
  100% {background-color:purple; width:100px; height:100px;}
}

.css-selector {
  background: linear-gradient(230deg, #88e18f, #e3793d, #9130f3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}


.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  
  .arrow-up {      
      /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    animation-name: triangleColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; 
    border-bottom: 40px solid black;
    
  }
  @keyframes triangleColorPalette {
    0% {
      border-bottom-color: #ee6055;
    }
    25% {
      border-bottom-color: #60d394;
    }
    50% {
      border-bottom-color: #aaf683;
    }
    75% {
      border-bottom-color: #ffd97d;
    }
    100% {
      border-bottom-color: #ff9b85;
    }
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }
  
  /*Spencers animation*/
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    animation-name: triangularMove;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; 
    border-left: 40px solid black;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid blue; 
  }
  div.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  h1{
    font-size: 42pt;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h2{
    font-size: 36pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h3{
    font-size: 30pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h4{
    font-size: 24pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h5{
    font-size: 18pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h6{
    font-size: 14pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }



/*Ian Style*/
body.rimworldBackground{
  background-image: url('https://wallpapercave.com/wp/wp3935722.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

h1#mainheader{
  background-color: #555;
  text-align: center;
}

p#textbox{
  background-color: #000;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imageSize{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  position: relative;
  animation-name: imageResize;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes imageResize {
  0%   {background-color:purple; width:1px; height:1px;}
  100%  {background-color:purple; width:200px; height:250px;}
}

/*Amy Style*/
body.cyberBackground{
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/957482109078780053/809663528394ED5CF7649BD2655994072CD54E5B/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}


/*Spencer Class*/
body.guildwarsBackground{
  background-image: url('https://64.media.tumblr.com/1e429bc432e16632ee0d5311db79e8f5/tumblr_osi93vr4Wq1txdpero2_r1_540.gifv');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
/*Spencer ID's*/
a#guildwarsLink{
  color: red
}
img#spencerPic{
  width: 300px;
  height: 300px;
  align-self: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#darkBack{
  background-color: rgb(48, 46, 117, 0.9);
  width: 1200px;
}

.divAdjust{
  padding: 3%;
}

#name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
