body {
    background-image: url('mountains\ 3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(48, 46, 117);
}
li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    }
  
  /* Change the link color on hover */
 li a:hover{
    background-color: #555;
    color: white;
  }