<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Use Slow Fall Spell
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 5</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>A Long Way Down</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    The apprentice uses a slow fall spell to float down. It takes a long time. It's a long drop, to he has to float for a while
    before reaching the ground.

    <br><br>
    When he looks around, he comes to the realization there's a bear.
  </ion-card-content>
  </ion-card>

  <ion-button href="tabs/tab6">Fight The Bear</ion-button>
  <ion-button href="tabs/tab7">Talk To The Bear</ion-button>
</ion-content>
