<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Use Slow Fall Spell
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feather Fall</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="cards">
    <ion-card-header>
      <ion-card-title>A Long Way Down</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Seanerry uses a slow fall spell to float down. It takes a long time. It's a long drop, to he has to float for a while
      before reaching the ground. "Well, at least I got down safely, even if it took a while to get down."</p>

      <br><br>
      <p>He looks around, and then he sees the big brown grizzly bear appear from the bush and approach him. "B-b-b-bear!" Seanerry exclaims, "What do I do now?"</p>
    </ion-card-content>
  </ion-card>
  <div class="center">
    <ion-button href="tabs/tab6">Fight The Bear</ion-button>
    <ion-button href="tabs/tab7">Talk To The Bear</ion-button>
  </div>
</ion-content>
