<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fight The Bear
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fight The Bear</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Unbearable</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Seanerry tries to fight the bear. Unfortunatly, his spells are too weak to effectivly hurt the bear.</p>
      <p>Seanerry manages to use the light spell and flashes the bear in the eyes, blinding it, and Seanerry runs away as fast as he can.</p>

      <br><br>
      <p>He soon runs into Master Garrald and they both fall back in on the ground. "There you are Seanerry! I was wondering where you went!"</p>
      <p>Seanerry explains to Master Garrald how you've been helping him get back to Master Garrald. "Thank you for your help! I appreciate you guiding Seanerry back home."</p>
      <p>Seanerry heads off ahead of Master Garrald towards their home, while Master Garrald stops and addresses you privately. "Of course, I wouldn't let Seanerry get put in fatal danger, 
        so I gave you clairvoyance to be able to see how to help Seanerry in the best way possible. You're free to go back and check what the other options do with your clairvoyance. 
        Thanks again for your help!" Master Garrald follows Seanerry back into the woods.</p>
    </ion-card-content>
  </ion-card>

  <ion-button href="tabs/tab1">Back To Start</ion-button>
</ion-content>
