<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Start of the Story
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">The Start of the Story</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>A Call For Help</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      "Hello? Master Garrald? Are you- ...wait. Shoot, you're not my master. I'm sorry, I didn't mean to... nevermind.
      I need your help. I don't know who you are, but right now you're the only help I have. I'm a wizard and...
      well, I'm still an apprentice, but I know some magic, and while I was training I accidentally messed up my teleportation spell
      and I'm some place really dark and I don't know what to do! I don't think I can contact my master. I could really use your help."
      <br><br>
      "It's so dark here. I can't see anything. The ground feels really rough and rocky, and it's a bit damp. I might be able to
      light up the room with a spell, but I don't know if I should save my magic. I might be able to find my way out by feeling the wall,
       though I don't want to trip on anything by accident."
    </ion-card-content>
  </ion-card>

  <ion-button href="tabs/tab2">Save mana</ion-button>
  <ion-button href="tabs/tab4">Use light spell</ion-button>
</ion-content>
