.cards{
    text-align: center;
    background-color: black;
    color: white;
}
.buttons{
    margin: auto;
    width: 20%;
    padding: 10px;
}
.title
{
    text-align: center;
}
.center{
    text-align: center;
}
ion-content{
    --background: none;
    background-color: black;
    background-image: url(https://archives.bulbagarden.net/media/upload/9/90/HGSS_Dark_Cave-Route_31-Day.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

ion-card-title{
    color: white;
}