<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Save Some Mana
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Save Mana</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="cards">
    <ion-card-header>
      <ion-card-title>Though The Dark</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>He stumbles in the dark for a while until he sees a light up ahead.</p>
      <p>"Maybe I should have used the spell, might have taken less time," Seanerry laments as he trips on some rocks along the way.</p>

      <br><br>
      <p>After a moment, Seanerry sees that the light ahead is an opening to the cliffside.</p>
      <p>It's a 50 foot drop. "I could try the teleportation spell again, but that's kind of how I got into this situation," Seanerry says,
        "But I could try the spell Feather Fall for the first time and try to float down. What should I do?"</p>
    </ion-card-content>
  </ion-card>
  <div class="center">
    <ion-button href="tabs/tab4">Teleport</ion-button>
    <ion-button href="tabs/tab5">Feather Fall</ion-button>
  </div>
</ion-content>
