.cards{
    text-align: center;
    background-color: black;
    color: white;
}
.buttons{
    margin: auto;
    width: 20%;
    padding: 10px;
}
.title
{
    text-align: center;
}
.center{
    text-align: center;
}
ion-content{
    --background: none;
    background-color: black;
}

ion-card-title{
    color: white;
}