<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>He stumbles in the dark for a while until he sees a light up ahead.</p>
  <p>Seanerry sees that light up is an opening up to the cliff side. It's 50 foot drop. What should he do?</p>

  <app-explore-container name="Tab 2 page"></app-explore-container>
  <ion-button>Teleport</ion-button>
  <ion-button>Feather Fall</ion-button>
</ion-content>
