* { margin:0; padding:0; } 
#page { width:100%; height:100%; background:#CCC; overflow:hidden; } 
#page:after { content:''; z-index:8; width:100%; height:100%; background:rgba(0,0,0,20); position:absolute; }
#page, #magnify { background:url(https://unsplash.it/2000/2000/?random) center center no-repeat; position:absolute; top:0px; left:0px; background-attachment:fixed; background-size:900px; transition: background-size 300ms, width 300ms, height 300ms; } 


#magnify { z-index:9; width:300px; height:300px; border:none; border-radius:200px; box-shadow:inset 0px 0px 30px 20px rgba(0,0,0,0.1), 0px 0px 10px 0px rgba(0,0,0,.6); margin:-150px; border:10px solid #FFF; background-size:1100px; top:50%; left:50%; over-flow:hidden; } 

#magnify:active { background-size:1500px; }  
