<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Talk To The Bear
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Talk To The Bear</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bearly Made It</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Seanerry uses a spell to speak with the bear. "Uh, hi. I'm sorry for bothering you, but can I get some help getting home? I'm kind of lost."
        "Sorry kid, I don't know where your home might be. You were with that other wizard, right? The one named, uhhhhhhhh, Garrald or something?" Seanerry nods.
        "Yeah, I think he went down that path. Now, I'm in a bad mood and I can't find any berries, so scram before I lash out!" Seanerry runs down the path the 
        bear suggested, thankful but frightened.</p>

        <br><br>
      <p>He soon runs into Master Garrald and they both fall back in on the ground. "There you are Seanerry! I was wondering where you went!"</p>
      <p>Seanerry explains to Master Garrald how you've been helping him get back to Master Garrald. "Thank you for your help! I appreciate you guiding Seanerry back home."</p>
      <p>Seanerry heads off ahead of Master Garrald towards their home, while Master Garrald stops and addresses you privately. "Of course, I wouldn't let Seanerry get put in fatal danger, 
        so I gave you clairvoyance to be able to see how to help Seanerry in the best way possible. You're free to go back and check what the other options do with your clairvoyance. 
        Thanks again for your help!" Master Garrald follows Seanerry back into the woods.</p>
    </ion-card-content>
  </ion-card>

  <ion-button href="tabs/tab1">Back To Start</ion-button>
</ion-content>
